@import url("../recursos/hangout.ttf");
@import url("../recursos/hangout3d.ttf");
@font-face {
  font-family: 'enlace';
  src: url("../recursos/hangout.ttf"); }

@font-face {
  font-family: 'titulo';
  src: url("../recursos/hangout3d.ttf"); }

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box; }

.titulo, .main h1 {
  font-family: "enlace";
  font-size: 5vw;
  text-align: center;
  color: #353535;
  padding: 2%;
  background-color: #2f97d3;
  border: solid rgba(240, 237, 86, 0.925);
  background-image: url(../recursos/fondo-partido.jpeg); }

.nombre, .main .conteiner-section .formacion .linea .jugadores p, .main .banco .sup .jugadores p {
  font-size: 13px;
  background-color: #2f97d3;
  text-align: center;
  padding: 3px;
  margin: 0 4px;
  color: white;
  border-radius: 5%;
  box-shadow: 0 0 20px 2px black;
  border: 2px solid white; }

.imagen-jugador, .main .conteiner-section .formacion .linea .jugadores img, .main .banco .sup .jugadores img {
  height: 120px;
  margin: 45px;
  margin-bottom: 0;
  border-radius: 5%;
  box-shadow: 0 0 10px 2px black; }

.header {
  /* ---- GRILLA ---- */
  /*---- FOTOS MOBILE ----*/ }
  .header .nav {
    background-color: #38B6FF;
    min-height: 100px; }
    .header .nav img {
      height: 40px; }
    .header .nav .logo:hover {
      transform: scale(1.1);
      transition: all 0.3s; }
    .header .nav .navbar-toggler {
      background-color: white; }
    .header .nav .nav-link {
      font-weight: 100;
      font-family: "enlace";
      font-size: large;
      color: white; }
      .header .nav .nav-link:hover {
        color: #38B6FF;
        background-color: rgba(255, 255, 255, 0.836);
        transition: all 0.3s; }
    .header .nav .navbar-collapse {
      flex-grow: 0; }
  .header .grilla {
    display: grid;
    grid-template-columns: 1fr 1.1fr 1.1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    box-shadow: 0 0 10px 2px black;
    margin: auto;
    grid-template-areas: "foto2 foto1 foto1 foto4" "foto3 foto1 foto1 foto5"; }
  .header .foto1 {
    grid-area: foto1; }
    .header .foto1 img {
      width: 100%; }
  .header .foto2 {
    grid-area: foto2; }
    .header .foto2 img {
      width: 100%; }
  .header .foto3 {
    grid-area: foto3; }
    .header .foto3 img {
      width: 100%; }
  .header .foto4 {
    grid-area: foto4; }
    .header .foto4 img {
      width: 100%; }
  .header .foto5 {
    background-color: #11d2d2;
    grid-area: foto5; }
    .header .foto5 img {
      width: 100%; }
  .header .fotos-mob {
    display: none; }
  @media (max-width: 700px) {
    .header .grilla {
      display: none; }
    .header .fotos-mob {
      display: flex;
      justify-content: center;
      overflow: hidden; }
    .header .fotos-mob img {
      height: 70vw; } }

.main {
  /*---- IFRAME ---- */ }
  .main .subtitulo {
    font-family: "enlace";
    font-size: 3vw;
    text-align: start;
    color: #353535;
    padding: 1%;
    background-image: url(../recursos/fondo-partido.jpeg);
    border: solid rgba(240, 237, 86, 0.925); }
  .main .h2 {
    padding: 10px;
    color: #c4b148;
    text-align: center;
    font-family: "enlace";
    width: 80%;
    margin: auto; }
  .main .section-p {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main .section-p .parrafo {
      width: 80%;
      text-align: justify;
      margin: auto;
      margin: 30px; }
    .main .section-p .contenedor-m {
      display: flex;
      flex-direction: row;
      justify-content: center; }
    .main .section-p img {
      height: 25vw; }
  .main .video {
    display: flex;
    justify-content: center; }
    .main .video iframe {
      margin: 30px 0 30px 0; }
  @media (max-width: 700px) {
    .main .titulo, .main h1 {
      font-size: 10vw; }
    .main .subtitulo {
      font-size: 5vw; }
    .main #foto {
      height: 50vw; }
    .main .video iframe {
      width: 100%; } }

@media (max-width: 700px) and (max-width: 500px) {
  .main .section-p .contenedor-m {
    flex-direction: column; }
    .main .section-p .contenedor-m img {
      height: 20vh;
      margin: 2px; }
    .main .section-p .contenedor-m .tamano {
      height: 250px; } }

.main .conteiner-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px; }
  .main .conteiner-section .formacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../recursos/cancha.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: solid black; }
    .main .conteiner-section .formacion .linea {
      display: flex; }
      .main .conteiner-section .formacion .linea .jugadores {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .main .conteiner-section .formacion .linea .jugadores:hover {
          transform: scale(1.1); }
  .main .conteiner-section .estadisticas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(../recursos/fondo-copia.jpeg);
    background-size: cover;
    margin: 20px;
    border-radius: 1%;
    border: solid rgba(240, 237, 86, 0.925); }
    .main .conteiner-section .estadisticas .div-estadistica {
      display: flex;
      justify-content: center;
      margin: 10px 0; }
      .main .conteiner-section .estadisticas .div-estadistica img {
        height: 30px;
        margin-top: 8px; }
      .main .conteiner-section .estadisticas .div-estadistica .parrafo-estadistica {
        margin-top: 8px;
        color: #757575;
        font-family: 'enlace';
        font-size: 20px;
        margin-right: 5px; }
    .main .conteiner-section .estadisticas .titulo-estadistica {
      text-align: center;
      background-color: white;
      color: #ac9309;
      border: solid rgba(240, 237, 86, 0.925);
      min-width: 10vw; }
    .main .conteiner-section .estadisticas .lista-estadistica {
      list-style: none;
      color: black; }

.main .banco {
  background-color: #2f97d3;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 1%;
  border: solid rgba(240, 237, 86, 0.925);
  background-image: url(../recursos/fondo-partido.jpeg);
  background-size: cover; }
  .main .banco .sup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    .main .banco .sup .jugadores img {
      margin-bottom: 5px; }
    .main .banco .sup .jugadores:hover {
      transform: scale(1.1); }
    .main .banco .sup .jugadores p {
      width: 70%;
      margin: auto; }

@media (max-width: 994px) {
  .main .conteiner-section .estadisticas {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start; } }

@media (max-width: 700px) {
  .main .conteiner-section .formacion {
    background-position: center;
    width: 90%; }
    .main .conteiner-section .formacion .linea .jugadores {
      margin: 10px 0px; }
      .main .conteiner-section .formacion .linea .jugadores img {
        height: 20vw;
        margin: 0px 10px; }
      .main .conteiner-section .formacion .linea .jugadores p {
        font-size: 10px; }
  .main .conteiner-section .estadisticas {
    width: 80%;
    overflow: hidden;
    margin: auto; } }

.main--activo {
  background-image: url(../recursos/descarga.jpg);
  padding-bottom: 10px;
  background-position: center; }

.main {
  /* ------------ PAGE RECORRIDO QATAR -------------- */ }
  .main .recorrido {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main .recorrido .partido {
      text-align: center;
      background-color: #273036;
      width: 90%;
      padding: 40px 0px;
      margin: 50px;
      border-radius: 2%;
      background-image: url(../recursos/fondo-rojo.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
      .main .recorrido .partido .titulo-recorrido {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #58acdc;
        width: 80%;
        border: rgba(0, 0, 0, 0.374) solid;
        border-radius: 2%;
        box-shadow: 0px 0px 10px 2px black;
        margin: auto;
        margin-top: 20px;
        background-image: url(../recursos/fondo-partido.jpeg); }
        .main .recorrido .partido .titulo-recorrido .bandera-recorrido {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 10px 10px 0px 10px; }
          .main .recorrido .partido .titulo-recorrido .bandera-recorrido .pais {
            color: white; }
        .main .recorrido .partido .titulo-recorrido .versus {
          font-size: 5vw;
          color: white;
          font-family: "enlace"; }
      .main .recorrido .partido img {
        width: 100px; }
      .main .recorrido .partido .vidio {
        width: 50%;
        box-shadow: 0px 0px 10px 2px black;
        margin-top: 50px; }
  @media (max-width: 994px) {
    .main .recorrido .partido .vidio {
      width: 80%; } }

.footer {
  background-color: #38B6FF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px; }
  .footer .footer__div {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .footer .footer__div img {
      height: 30px; }
    .footer .footer__div p {
      color: white; }
  .footer .footer__lista {
    display: flex;
    list-style: none; }
    .footer .footer__lista .footer__item {
      margin: 0 20px; }
      .footer .footer__lista .footer__item .footer__link {
        text-decoration: none; }
        .footer .footer__lista .footer__item .footer__link .footer__img {
          height: 30px; }
