.main{
    // TITULOS
    h1{
        @extend .titulo;
    }

    .subtitulo {
        font-family: "enlace";
        font-size: 3vw;
        text-align: start;
        color: white;
        padding: 1%;
        background-image: url(../recursos/fondo-partido.jpeg);
        border: $borde;
    }
    .h2{
        padding: 10px;
        color: rgb(196, 177, 72);
        text-align: center;
        font-family: "enlace";
        width: 80%;
        margin: auto;
        
    }
    
    // SECCION INDEX
    .section-p {
        display: flex;
        flex-direction: column;
        align-items: center;
        .parrafo{
            width: 80%;
            text-align: justify;
            margin: auto;
            margin: 30px;
        }
        //CONTENEDOR DE FOTOS
        .contenedor-m{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
       img{
        height: 25vw;
       }
    }

 /*---- IFRAME ---- */
.video {
    display: flex;
    justify-content: center;
    iframe {
        margin: 30px 0 30px 0;
    }
}
// MEDIA QUERYS INDEX
@media(max-width: 700px){
    .titulo {
        font-size: 10vw;
    }

    .subtitulo {
        font-size: 5vw;
    }

    #foto {
        height: 50vw;
    }

    .video iframe {
        width: 100%;
    }
}

@media(max-width:500px){

  .section-p{
    .contenedor-m{
        flex-direction: column;
        img {
            height: 20vh;
            margin: 2px;
        }
        .tamano {
            height: 250px;
        }
    }
    }
}
}
