.footer {
    background-color: $azulito;
    min-height: 70px;
    .footer__lista {
        display: flex;
        justify-content: space-around;
        list-style: none;
        .footer__item {
            margin-top: 20px;
            .footer__link {
                text-decoration: none;
                .footer__img {
                    height: 40px;
                
                }
            }
            
        }
    } 
}
