// Paleta de Colores
$azulito: #38B6FF;
$azul-clarito:#2f97d3;
$verde: green;
$borde:solid rgba(240, 237, 86, 0.925);




// fuentes
@import url('../recursos/hangout.ttf');
@font-face {
    font-family:'enlace';
    src: url('../recursos/hangout.ttf');
}

@import url('../recursos/hangout3d.ttf');
@font-face {
    font-family:'titulo';
    src: url('../recursos/hangout3d.ttf');
}


